body {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.portfolio {
  font-family: Arial, sans-serif;
  width: 80vw;
  margin: 0 auto;
  padding: 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

header {
  text-align: center;
  margin-bottom: 2em;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section {
  justify-content: center;
  padding: 1em;
  border-bottom: 1px solid #ddd;
}

section h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.project-link {
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-link:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.project {
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.project-link:hover .project {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.synthetic-health-project {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.synthetic-health-project h3,
.synthetic-health-project p {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.5em;
  margin: 0.5em 0;
}

.card-game{
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-game h3,
.card-game p {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.5em;
  margin: 0.5em 0;
}

.thesis{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.thesis h3,
.thesis p {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.5em;
  margin: 0.5em 0;
}

.portfolio-project{
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.portfolio-project h3,
.portfolio-project p {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.5em;
  margin: 0.5em 0;
}


footer {
  text-align: center;
  margin-top: 2em;
  padding: 1em;
  border-top: 1px solid #ddd;
}
